* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {

  width: 768px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: center;
}
div {
  width: 384px;
  height: 384px;
  border-radius: 60% 0 0 0;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: right;
}
div:nth-child(2) {
  transform: rotate(90deg);
}
div:nth-child(3) {
  transform: rotate(-90deg);
}
div:nth-child(4) {
  transform: rotate(180deg);
}
